// mat-dialog-content {
.wrapper {
    border: 3px solid green !important;
    .image-container {
        border: 3px solid red;
        width: 100%;
        img {
            width: 100%;
        }
    }
}
// }
