<div class="wrapper">
    <button mat-raised-button
        (click)="toggleDemo()">
        {{ demoService.demoEnabled() ? 'Stop animation' : 'Start animation' }}
    </button>
    @if(!authService.isLoggedIn()){
    <button mat-icon-button>
        <a routerLink="login">

            <mat-icon>login</mat-icon>
        </a>
    </button>
    } @else {
    <button mat-raised-button
        (click)="toggleRoute()">
        {{ routeControl.showRoute() ? 'Hide route' : 'Show route to nearest bridge' }}
    </button>
    <button mat-icon-button
        (click)="authService.logout()">
        <mat-icon>logout</mat-icon>
    </button>
    }
</div>
