.wrapper {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    button {
        mat-icon {
            color: white;
        }
    }
}
