.wrapper {
    form {
        border: 1px solid gray;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 16rem;
        margin: auto;
    }
}
