mat-toolbar {
    display: flex;
    gap: 1rem;
    .menu {
        @media (min-width: 600px) {
            display: none;
        }
    }
    .nav-buttons {
        margin-left: auto;
        display: flex;
        gap: 1rem;
        @media (max-width: 600px) {
            display: none;
        }
    }
}

.link-active {
    border: 3px solid red;
}
button {
    border: 3px solid transparent;
}
