<mat-toolbar color="primary">
    <button class="menu"
        mat-icon-button
        (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="nav-buttons">
        @for(item of userNavigationItems;track $index){
        <button mat-raised-button
            routerLinkActive="link-active"
            [routerLink]="item.link">{{item.appearanceEn}}</button>
        }
    </div>


    @if(authStore.isLoggedIn()){
    @for(item of adminNavigationItems;track $index){
    <button mat-raised-button
        routerLinkActive="link-active"
        [routerLink]="item.link">{{item.appearanceEn}}</button>
    }
    }
</mat-toolbar>
