html,
body {
    height: 100%;
    margin: 0;
}

.layout {
    height: 100vh;
}
mat-sidenav {
    width: 80%;
    max-width: 20rem;
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

app-header {
    flex: 0 0 auto;
    position: sticky;
    top: 0;
    z-index: 1000;
}

app-footer {
    background-color: #3f51b5;
    color: white;
    flex: 0 0 auto;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}

.content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 16px;
}
