:host {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}
.left {
    height: calc(100vh - 150px);
    border: 1px solid red;
    overflow: scroll;
}
.right {
    form {
        display: flex;
        flex-direction: column;
        .buttons {
            display: flex;
            gap: 1rem;
            button {
                flex: 1;
            }
        }
    }
}
