<!-- <h1>Bridge Admin</h1> -->
<div class="left">

    <div class="all-bridges">

        <h2>All Bridges</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
            @for(b of bridges();track $index){
            <tr>
                <td>{{ b.name }}</td>
                <td>{{ b.slug }}</td>
                <td>
                    <button mat-icon-button
                        color="primary"
                        (click)="edit(b)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button
                        color="warn"
                        (click)="delete(b.id!)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
            }
        </table>
        <button mat-raised-button
            color="warn"
            (click)="logout()">Logout</button>
    </div>
</div>
<div class="right">

    <form #form="ngForm"
        [formGroup]="bridgeForm"
        (ngSubmit)="saveBridge()">
        <mat-form-field>
            <mat-label>name</mat-label>
            <input matInput
                formControlName="name"
                placeholder="Name"
                required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>slug</mat-label>
            <input matInput
                formControlName="slug"
                placeholder="Slug"
                required />

        </mat-form-field>
        <mat-form-field>
            <mat-label>Latitude</mat-label>
            <input matInput
                formControlName="lat"
                type="number"
                required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Longitude</mat-label>
            <input matInput
                formControlName="lng"
                type="number"
                required />
        </mat-form-field>
        <mat-form-field>
            <textarea matInput
                formControlName="description"
                placeholder="Description"></textarea>

        </mat-form-field>
        <div class="buttons">
            <button mat-raised-button
                color="accent"
                type="button"
                (click)="reset()">Clear</button>
            <button mat-raised-button
                [disabled]="form.invalid"
                color="primary"
                type="submit">{{ id() ? 'Update' : 'Add' }}</button>
        </div>
    </form>


</div>

<app-import-bridges />
