:host {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}
form {
    display: flex;
    flex-direction: column;
    .buttons {
        display: flex;
        gap: 1rem;
        button {
            flex: 1;
        }
    }
}
