.wrapper {
    position: relative;
    height: 100%;
    padding: 1rem;
    .nav-list {
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }
    .close {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: black;
        color: white;
    }
}
