html,
body {
    height: 100%;
    background-color: red;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
button {
    text-transform: uppercase !important;
}
* {
    box-sizing: border-box;
    // letter-spacing: 1px;
}
